@import "../../../styles/constants.scss";

.btn {
  border: none;
  font-weight: 900;
  position: relative;
  min-width: fit-content;
}

.primary {
  border-radius: 8px;
  background-color: $color-quaternary;
  border: 1px solid $color-border;
  font-size: 30px;
  padding: 0.5rem;
  width: 8rem;
  margin: 2px auto;
  &:hover {
    background-color: $color-border;
    color: $color-white;
    cursor: pointer;
  }
}

